 <!DOCTYPE html>  
 <html>  
 <head>  
 </head>  
 <body>
    <% if ( classname == '' || classname == 'home' ) { %>
    <% include ../sub_menu/home.ejs %>
    <% } %>
    <% if ( classname == 'deviceMap') { %>
    <% include ../sub_menu/deviceMap.ejs %>
    <% } %>
     <% if ( classname == 'groupSettings') { %>
    <% include ../sub_menu/groupSettings.ejs %>
    <% } %>
    <% if ( classname == 'TH_report') { %>
    <% include ../sub_menu/th_report.ejs %>
    <% } %>
 </body>
 </html>  
