<!DOCTYPE html>
<html>
    <head>
        <script src="jquery-3.2.1.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAASZ3iKUlCBlIH9TX6ScqAHX-9Mo0p9QU"></script>
        <script type="text/javascript" src="groupSettings.js"></script>
        <script type="text/javascript" src="requestREST.js"></script>
        <script type="text/javascript" src="map.js"></script>
        <script src="jquery-ui-1.12.1/jquery-ui.js"></script>
  <!-- MiniColors -->
  <script src="jquery-minicolors/jquery.minicolors.js"></script>
  <link rel="stylesheet" href="jquery-minicolors/jquery.minicolors.css">
    </head>
    <body onLoad="initialize()">
        <div class="col-md-7">
            <div id="map" style="width:500px; height:400px;"></div>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-sidebar">
                <select id="groupList" onchange=""></select>
                <p>群組顏色 : <input type="hidden" id="hidden-input" class="groupColor" value="#db913d"></input></p>
                <li><a style="cursor: pointer;" onclick="setGroup()">新增群組</a></li>
                <li><a style="cursor: pointer;" onclick="clearMarkers()">群組設定</a></li>
            </ul>
            <p>左鍵: 選擇群組 右鍵:加入群組</p>
        </div>
    </body>
</html>